
<div class="section-colored text-center">
  <h1>Collaborative Q & A Site</h1>

  <div id="top" class="header">
    <h3><%= link_to "Q & A Collaborations", collaborations_path %></h3>
  </div>
</div>
